

.MuiInputBase-root {
    color: white !important;
    font-family: 'Open Sans', sans-serif !important;
    }
    
    .MuiOutlinedInput-notchedOutline {
        border-color:#416467  !important;
    }
    
    .MuiFormLabel-root {
      color:white !important}
    
    .submit-button {
      cursor: pointer;
      background: transparent;
      border: 2px solid #416467;
      border-radius:2px;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #ffffff;
      text-transform: capitalize;
      padding: 10px 20px;
      transition: border-color 0.3s;
      &:hover {
        border: 2px solid white;
    }
      }
    