@use "styles/abstracts/variables&mixins" as *;

.WeatherInformationsPage {
  &__header {
    font-size: calc(20px + 35 * ((100vw - 320px) / 1080));
    line-height: 55px;
    font-family: Montserrat;
    text-transform: capitalize;
    height: calc(50px + 50 * ((100vw - 320px) / 1080));
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    @include centered1200max;

    @media only screen and (max-width: 640px) {
      flex-direction: column;
      height: auto;
    }

    & > .link {
      background-color: $textColorSunny;
      border-radius: 4px;
      border: 2px solid black;
      color: black;
      padding: 1rem;
      font-size: 16px;
      text-decoration: none !important;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 55px;
      display: flex;
      align-items: center;

      @media (max-width: 830px) {
        position: fixed;
        bottom: 5px;
      }
    }

    & > .time {
      font-size: 16px;
      text-transform: none;
      & > h1 {
        font-size: 18px;
        display: inline;
        font-weight: bold;
      }
    }
    & > .cityName {
      padding-left: 3vw;
      display: flex;
      align-items: center;
    }
    & > .locationName {
      display: flex;
      align-items: center;
      font-size: clamp(16px, 2.1vw, 30px);
    }
  }
}
