.start__body {
  @include centered1200max;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.start__text {
  @include typical_div;
  margin: 8vw;
  padding: 50px;
}
