$my_bckgr: #416467;
$my_bckgr_trs: rgba(65, 100, 103, 0.5);

@mixin typical_div {
  color: white;
  margin: 100px auto;
  font-size: 16px;
  border: 2px solid white;
  border-style: groove;
  border-radius: 10px;
  padding: 20px 0;
  background-color: $my_bckgr;
  box-shadow: 0px 0px 14px 0px;
}

@mixin centered1200max {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@mixin centeredflex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: inherit;
  font-family: inherit;
}
