.weatherinfos__header {
  padding-right: 2vw;
  font-size: 55px;
  font-size: calc(20px + 35 * ((100vw - 320px) / 1080));
  line-height: 55px;
  font-family: Montserrat;
  background-color: $my_bckgr;
  color: white;
  text-transform: capitalize;
  height: 100px;
  height: calc(50px + 50 * ((100vw - 320px) / 1080));
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  @include shadow;
}

.weatherinfos__content {
  @include centered1200max;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding: 15px;
}

.weatherinfos__city-name {
  padding-left: 3vw;
  display: flex;
  align-items: center;
}

.weatherinfos__location-name {
  padding-left: 3vw;
  display: flex;
  align-items: center;
  font-size: calc(20px + 15 * ((100vw - 320px) / 1080));
}

.weatherinfos__link{
  background-color:$textColorSunny;
  border-radius:4px;
  border:2px solid black;
  color:black;
  padding:1rem;
  font-size:16px;
  text-decoration:none;
}