.weatherNowHeader{
    font-size:16px;
    font-family: 'Open Sans', sans-serif;
    color:white;
    margin:60px 0;
}
.weatherNowTemp{
    font-family: 'Open Sans', sans-serif;
    color:white;
    font-size: 6.2em;
    font-family: 'OpenSans', Arial,sans-serif;
    letter-spacing: -4.5px;
}

.weatherNowItemWrapper{
    min-height:100%;
    padding: 0 20px;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:flex-start;
    color:inherit;
    font-family:inherit;
}

.weatherNowItemHeader{
    align-self: top;
    color:inherit;
    font-family:inherit;
    font-size: 14px;
}

.weatherNowItemContent{
    color:inherit;
    font-family:inherit;
    font-size: 40px;
}


.weatherNowContent{
    height: 125px;
    margin-top: 30px;
    width: 100%;
    color:white;
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    border: 2px solid white;
    border-style: groove;
    border-radius: 10px;
    padding: 10px 0 60px 0;
    background-color:#416467;
    box-shadow: 0px 0px 14px 0px;

}

.cityNameWrapper{
    max-width:1200px;
    width:100%;
    margin: 0 auto;
}


.cityHeader{
    padding-right: 13px;
    font-size: 55px;
    line-height: 55px;
    font-family: Montserrat;
    background-color:#1B4778;
    color:white;
    text-transform: capitalize;
    height:100px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.locationWeatherWrapper{
    max-width:1200px;
    width:100%;
    margin: 0 auto;
    background-color: #416475;
}


.forecastTable{
    

    color:white;
    margin: 100px auto;
    font-size: 16px;
    border: 2px solid white;
    border-style: groove;
    border-radius: 10px;
    padding: 20px 0;
    background-color:#416467;
    box-shadow: 0px 0px 14px 0px;



    & td{
        padding: 10px 60px;
        text-align: center;
    }

    & th{
        margin: 0 5px;
    }
}